<%= render(:partial => 'shared/form_errors', :locals => {:object => @comment})%>

<% @comment.user_id = current_user.id %>
<%= f.hidden_field :user_id  %>
<%= f.hidden_field :task_id %>

<div>
	<%= f.text_area :body, :size => '50x5'%>
</div>

<div class="actions">
	<%= f.submit %>
</div>
