<%= render(:partial => 'shared/form_errors', :locals => {:object => @time_log})%>	


<div>
	<%= f.label :user_id, @task.user.name %> :
	<%= f.select(:user_id, @task.project.users.collect {|r| [r.name, r.id]})	 %>
</div>

<div>
	<%= f.label :task_id %> : <%= @task.name %>
	<%= f.hidden_field :task_id %> 
</div>

<div>
	<%= f.label :supplied_hours, "Hours" %> :
	<%= f.select(:supplied_hours, (0..10).to_a ) %>
	<%= f.label :supplied_minutes, "Minutes" %> :
	<%= f.select(:supplied_minutes, (0..59).to_a ) %>
</div>


<%= fields_for @comment do |c| %>
	<div>
		Comment : </br>
		<%= c.text_area :body %>
	</div>

<% end %>



  <div class="actions">
    <%= f.submit %>
  </div>