<%= render(:partial => 'shared/form_errors', :locals => {:object => @time_log})%>

<% @time_log.user_id = current_user.id %>
<%= f.hidden_field :user_id  %>
<%= f.hidden_field :task_id %>

<div>
	<%= f.label :supplied_hours, "Hours" %> :
	<%= f.select(:supplied_hours, (0..10).to_a, :selected => @time_log.hours_i || 0) %>
	<%= f.label :supplied_minutes, "Minutes" %> :
	<%= f.select(:supplied_minutes, (0..59).to_a, :selected => @time_log.minutes_i || 0) %>
</div>

<%= fields_for @comment do |c| %>
<div>
	Comment : </br>
	<%= c.text_area :body, :size => '50x5' %>
</div>
<% end %>

<div class="actions">
	<%= f.submit %>
</div>
