<% type == "time_log" ? @comment = item.comment : @comment = item %>
<div class="timepoint  <%= my_class %>">
	
	<div class="activity <%= type %>" id="<%= type %>-<%=item.id%>">
	<a name="<%= type %>-<%=item.id%>"></a>	
		<div class="avatar left">
			<%= image_tag item.user.avatar.url(:thumb) %>
			<div class="icon">
				<%= image_tag "#{type}.png" %>
			</div>
		</div>
	

		<div class="details left">
		
			<div class="description">			
				<%= item.user.first_name %> 
				<% if type == 'time_log' %>
				logged <span class="type"><%= item.time_string %></span>
				<% elsif type == 'comment'%>
				posted a <span class="type">comment</span>
				<%end%>
			</div>
		

			<div class="time">
				<% if item.created_at.to_date == Date.today %>
					<span class="bold"><%= distance_of_time_in_words(Time.now, item.created_at).gsub('about ','') %></span> ago
				<% elsif %>
					at <span class="bold"><%= item.created_at.strftime("%H:%M")%></span>
				<% end %>
				</span>
			</div>
		
			<div class="body">				
				<%= rinku_auto_link(simple_format(item.body)) %>
			</div>
			
		</div>
	
		<div id="replies-<%= @comment.id %>">
			<div id="reply-list">
				<%= render :partial => 'tasks/reply_list', :locals => {:comment => @comment} %>
			</div>
			<div id="actions" class="actions right">
				<%= link_to 'reply', {:controller=>:comments, :action=>:new_reply, :task_id => @task.id, :id => @comment.id}, :class => 'button', :id=> 'new-user-button', :remote => true  %>
			</div>
		</div>
	

	
	</div>

	<div class="pointer">
		<%= image_tag 'timeline-point.png' %>
		<% if my_class == "right_of_line" %>
			<%= image_tag 'timeline-arrow-from-right.png', :class=>'arrow' %>
			<% else %>
			<%= image_tag 'timeline-arrow-from-left.png', :class=>'arrow' %>
		<% end %>
	</div>

</div>