<%= render(:partial => 'shared/form_errors', :locals => {:object => @task})%>	

  <div class="field">
  	<p class="label">User: <%= f.select(:user_id, User.all.collect {|r| ["#{r.first_name} #{r.last_name} : (#{r.username})" , r.id]}) %></td>
	</p>
	 <p class="description">
		The person responsible for completing the task
	</p>
   </div>
   
  <div class="field">
    <p class="label">Task Name</p>
    <%= f.text_field :name, :size=> 50 %>
    <p class="description">
		A name to clearly identify the task
	</p>
  </div>
  <div class="field">
    <p class="label">Description</p>
    <%= f.text_area :description , :size=> "45x5"%>
    <p class="description">
		A detailed description of the task objectives
	</p>
  </div>
  <div class="field left">
  	<p class="label">Deadline:</p>
	<%= f.date_select :deadline, :order => [:day, :month, :year], :start_year => Date.today.year, :end_year => Date.today.year + 1, :default => 1.month.from_now%>
	<p class="description">
		When is it due?
	</p>
  </div>
  
   <div class="field left ">
  	<p class="label">Work days assigned:</p>
  	<%= f.select(:supplied_work_days, (1..10).to_a, :selected => @task.work_days || 1 ) 	%>
  	<p class="description">
		How long should it take?
	</p>
  </div>
  
  <div class="clear"></div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
