<div class="buttons">
	
		<% @filtered_user ? user_id = @filtered_user.id : user_id = 0 %>				<div class="indicator-line">				<%= image_tag('task_list_seperator.png', :size=>"475x11") %>		</div>				
		<ul>			<%= render :partial => 'tasks/task_filter_button', :locals=> {:state => :all, :user_id => user_id} %>
			<%= render :partial => 'tasks/task_filter_button', :locals=> {:state => :not_started, :user_id => user_id} %>
			<%= render :partial => 'tasks/task_filter_button', :locals=> {:state => :in_progress, :user_id => user_id} %>
			<%= render :partial => 'tasks/task_filter_button', :locals=> {:state => :completed, :user_id => user_id} %>
			<div class="clear"></div>
		</ul>
	</div>