<div id="task">
	
	<div id="top">
	
		<h2>
			<%= link_to 'Home', projects_path %> &gt;
			<%= link_to  @task.project.name, project_path(@task.project) %> &gt;
			<%= @task.name %> :
			<%= link_to(image_tag('actions/edit_btn_16.png', {:title => "Edit Task"}), edit_task_path(@task) ) %>
		</h2>
		
		<div class="description">
			<%= @task.description %>
		</div>
		
		<p id="notice">
			<%= notice %>
		</p>
	
	</div>
	
	
	
	<div id="main-content">
		
		<div id="activity" class="left">
			
			<%= link_to 'Home', projects_path %>
			
			<p>
				<%= link_to 'Log Time', new_time_log_path(:task_id => @task.id), :class => 'button'%> 
				<%= link_to 'Post Comment', new_comment_path(:task_id => @task.id), :class => 'button'%>
			</p>

			<div>
				:COMMENTS:
				<% @task.comments.each do |c| %>
				<li><%= c.body %></li>
				<% end %>
			</div>

			<div>
				:TIME LOGS:
				<% @task.time_logs.each do |tl| %>
				<li><%= tl.comment.body %></li>
				<% end %>
			</div>
			
		</div>
		
		<div id="metrics" class="left">
			<div class="polabox">
				<p>Deadline: <%= @task.deadline.strftime("%A %d %B %Y") %></p>
				<p>Days til deadline: <%= @task.days_left %></p>
				<p>User: <%= image_tag(@task.user.avatar.url(:teeny), {:title => @task.user.name}) %> <%= @task.user.name %></p>
				<p>Days Allocated: <%= @task.work_days %></p>
				<p>Days Spent: <%= @task.work_days_spent %></p>
				<p>Percentage of Time used: <%= @task.work_percent_spent %></p>
			</div>
			
		</div>
		
	</div>
	
	
</div>



<div class="clear"> </div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', project_path(@task.project_id) %>
