<div class="pSquare" id="project-<%= project.id %>">
	<div class="top">
		<div class="left">
			<div class="title">
				<%= link_to project.name , project %>
			</div>
			<div class="description">
				<%= truncate(project.description, :length => 100) %>
			</div>
		</div>
		<div class="right">
			<div class="ribbon" style="background: url(<%= project.ribbonURL %>) no-repeat scroll top left;">
				<div class="deadline">
					<%= render :partial => 'shared/calendar_date', :locals => {:date => project.deadline} %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="actions">
		<ul>			
			<li id="metrics_action" class="">
				<%= link_to_function "DETAILS", "showTab(#{project.id}, 'metrics')" %>				
			</li>
			
			<li id="activity_action" class="<%= "last" unless current_user.is_admin? %>"> 
				<%= link_to_function "ACTIVITY", "showTab(#{project.id}, 'activity')" %>
			</li>
			
			<% if current_user.is_admin? %>
			<li id="admin_action" class="last">
				<%= link_to_function "ADMIN", "showTab(#{project.id}, 'admin')" %>				
			</li>
			<% end -%>
			
		</ul>
	</div>
	
	
	
	<div class="split hidden">	
			  	
		<div id="metrics" class="hidden">
			<%= render :partial => 'development_metrics', :locals => {:project => project} %>
			<hr/>
			<%= render :partial => 'task_metrics', :locals => {:project => project} %>
		</div>
		
		<div id="activity" class="hidden">
			<div class="square_wrapper">
			<%= render :partial => 'activity_feed', :locals=> {:project => project, :limit => 4}%>
			</div>
		</div>
		
		<% if current_user.is_admin? %>
		<div id="admin" class="hidden">
			<div class="square_wrapper">
				<%= link_to 'EDIT', edit_project_path(project) %>
			</div>
		</div>
		<% end -%> 
		
		<div class="split_end"></div>
	</div>
	
	
	
		<div class="users">
			<% project.users.each do |u| %>
			<%= image_tag u.avatar.url(:tiny), :title => u.name %>
			<% end %>
		</div>
	
</div>