<div class="task polabox">
	
	<div class="deadline left">
		<%= render :partial => 'shared/calendar_date', :locals => { :date => task.deadline }  %>
	</div>
	
	<div class="details left">
		<div class="task-name">
			<%= link_to(task.name, task) %>
		</div>
		<div class="user">
			<div class="avatar left">
				<%= image_tag(task.user.avatar.url(:teeny), :size => "15x15") %>
			</div>
			<div class="screen-name left" >
				<%= task.user.name %>
			</div>
		</div>
	</div>
	
	<div class="admin left hidden">
		<%= link_to(image_tag('actions/edit_btn_16.png', {:title => "Edit Task"}), edit_task_path(task) ) %>
		<br />
		<%= link_to(image_tag('actions/destroy_btn_16.png', {:title => "Delete Task"}), task, method: :delete, data: { confirm: 'Are you sure?' }) %>
	</div>
	
	<div class="time right">		
		<canvas id="time-<%=task.id%>" width="40" height="40">
		</canvas>
		<script type="text/javascript">
		$(function(){drawTaskPie("time-<%=task.id%>", <%=task.work_percent_spent%>) } );		
		</script>		
	</div>
	
	
</div>