<div class="filter">
	<div class="buttons">
		
		<a href='#' class="first">ALL <%="(#{ @tasks.length })"%></a>
		
		<a href='#'>IN PROGRESS <%= "(#{ @tasks.in_progress.length  })" if @project.tasks_in_progress > 0 %></a>
		
		<a href='#'>IN QA <%=
		# "(#{ @tasks.in_qa.length })" if @tasks.in_qa.length > 0 
		%></a>
		
		<a href='#'>COMPLETED <%= "(#{ @tasks.completed.length})" if @tasks.completed.length > 0 %></a>
		
		<a href='#' class="last">NOT STARTED <%= "(#{ @tasks.not_started.length })" if @tasks.not_started.length > 0 %></a>
		
	</div>
	<div class="indicator"><hr/></div>
</div>

<% if project.tasks.length > 0 %>
	<% project.tasks.each do |task| %>
		<%= render :partial => 'task_list_item', :locals => {:task => task} %>
	<% end %>
<% end %>