<h2>TASKS</h2>


<% if current_user.is_admin?  %>
<%= link_to_function '+ Add Task', 'toggleNewForm("task")',:class => 'button', :id=> 'new-task-button'  %>
<div id="new-task-form" class="form hidden">
	<div class="right">
		<%= link_to_function 'close', 'toggleNewForm("task")' %>
	</div>
	<h2>New Task</h2>
	<% @project = project %>
	<% @task = Task.new()%>
	<%= form_for(:task, :url => {:controller => :tasks, :action => 'create', :project_id => @project.id}) do |f| %>
	<%= render(:partial => 'tasks/form', :locals => {:f => f}) %>
	<% end %>
</div>
<% end -%>


<div class="filter">
	<div class="buttons">
		
		<a href='#' class="first">ALL <%="(#{ @tasks.length })"%></a>
		
		<a href='#'>IN PROGRESS <%= "(#{ @tasks.in_progress.length  })" if @project.tasks_in_progress > 0 %></a>
		
		<a href='#'>IN QA <%=
		# "(#{ @tasks.in_qa.length })" if @tasks.in_qa.length > 0 
		%></a>
		
		<a href='#'>COMPLETED <%= "(#{ @tasks.completed.length})" if @tasks.completed.length > 0 %></a>
		
		<a href='#' class="last">NOT STARTED <%= "(#{ @tasks.not_started.length })" if @tasks.not_started.length > 0 %></a>
		
	</div>
	<div class="indicator"><hr/></div>
</div>

<% if project.tasks.length > 0 %>
	<% project.tasks.each do |task| %>
		<%= render :partial => 'task_list_item', :locals => {:task => task} %>
	<% end %>
<% end %>