<h2>TASKS</h2>


<% if current_user.is_admin?  %>
<%= link_to_function '+ Add Task', 'toggleNewForm("task")',:class => 'button', :id=> 'new-task-button'  %>
<div id="new-task-form" class="form hidden">
	<div class="right">
		<%= link_to_function 'close', 'toggleNewForm("task")' %>
	</div>
	<h2>New Task</h2>
	<% @project = project %>
	<% @task = Task.new()%>
	<%= form_for(:task, :url => {:controller => :tasks, :action => 'create', :project_id => @project.id}) do |f| %>
	<%= render(:partial => 'tasks/form', :locals => {:f => f}) %>
	<% end %>
</div>
<% end -%>


<div class="filter">
	<div class="buttons">
		<a href='#' class="first">ALL <%="(#{@project.tasks.length})"%></a>
		<a href='#'>IN PROGRESS <%= "(#{@project.tasks_in_progress})" if @project.tasks_in_progress > 0 %></a>
		<a href='#'>IN QA <%= "(#{@project.tasks_in_qa})" if @project.tasks_in_qa > 0 %></a>
		<a href='#'>COMPLETED <%= "(#{@project.tasks_completed})" if @project.tasks_completed > 0 %></a>
		<a href='#' class="last">NOT STARTED <%= "(#{@project.tasks_not_started})" if @project.tasks_not_started > 0 %></a>
	</div>
	<div class="indicator"><hr/></div>
</div>

<% if project.tasks.length > 0 %>
	<% project.tasks.each do |task| %>
		<%= render :partial => 'task_list_item', :locals => {:task => task} %>
	<% end %>
<% end %>