<% @page_title = "Root" %>
<% @page_class = 'project' %>

<% content_for :top do %>
<div class="fixed">
	
	<div id="completed" class="left half top_summary_box">
		<h2>Recently Completed</h2>
	  <ul>
	  	<% @recently_completed_projects.each do |p| %>
	  	<li class="<%= cycle('odd','even') %>"> <%= render :partial => 'project_row', :locals=>{:p => p} %> </li>
	  	<% end -%>	  	
	  </ul>
	</div>
	
	<div id="closed" class="left half top_summary_box">
		<h2>Recently Closed</h2>
	  <ul>
	  	<% @recently_closed_projects.each do |p| %>
	  	<li class="<%= cycle('odd','even') %>"> <%= render :partial => 'project_row', :locals=>{:p => p} %> </li>
	  	<% end -%>	  	
	  </ul>
	</div>
	
	<div class="clear"></div>
	
	
	
	
	<ul class="crumbtrail">
		<li class="home">
			<%= link_to image_tag('crumb_home.png'), projects_path %>
		</li>
		<li class="project end">
			Listing projects
		</li>
		<div class="clear"></div>
	</ul>
</div>
<div class="clear"></div>
<% end %>


<div id="controls" class="left">
	<div id="project_type_list" class="list">
		<%= render :partial => 'project_type_filter' %>
	</div>
	<div id="user_list" class="list">
		<%= render :partial => 'project_user_filter' %>
	</div>
</div>


<div id="projects" class="cork_board left">
	<% if current_user.is_admin?  %>
	<div id = "add-new-project">
		<%= link_to 'New Project', new_project_path, :class => 'button', :id=> 'new-project-button', :remote => true  %>
	</div>
	<% end -%>

	<div id="sort">
	  <%= render :partial => 'project_sort_form' %>
	</div>
	<div class="clear">	</div>
	
	<div id="project_list">
		<%= render :partial => 'project_list' %>
	</div>
</div>