<% @page_title = "Root" %>
<% @page_class = 'project' %>

<% content_for :top do %>
<div class="fixed">
	<ul class="crumbtrail">
		<li class="home">
			<%= link_to image_tag('crumb_home.png'), projects_path %>
		</li>
		<li class="project end">
			Listing projects
		</li>
		<div class="clear"></div>
	</ul>
</div>
<div class="clear"></div>
<% end %>


<div id="controls" class="left">
	<div id="project_type_list" class="list">
		<%= render :partial => 'project_type_filter' %>
	</div>
	<div id="user_list" class="list">
		<%= render :partial => 'project_user_filter' %>
	</div>
</div>


<div id="projects" class="cork_board left">
	<% if current_user.is_admin?  %>
	<div id = "add-new-project">
		<%= link_to 'New Project', new_project_path, :class => 'button', :id=> 'new-project-button', :remote => true  %>
	</div>
	<% end -%>
	<div id="project_list">
		<%= render :partial => 'project_list' %>
	</div>
</div>