<% @page_title = @project.name %>
<% @page_class = 'project' %>
	
<% content_for :top do %>

<div class="fixed">
	
	<ul class="crumbtrail">
		<li class="home"><%= link_to image_tag('crumb_home.png', {:title => "Edit Task"}), projects_path %></li>
		<li class="project end"><%= @project.name %></li>
		<div class="clear"></div>
	</ul>
	
	<p class="code">
		<%= @project.code %>
		<% if current_user.is_admin?  %>
		: 
		<%= link_to(image_tag('actions/edit_btn_16.png', {:title => "Edit Task"}), edit_project_path(@project) ) %> :
		<%= link_to image_tag('actions/destroy_btn_16.png'), @project, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end -%>
	
	</p>
	
	<p class="description">
		<%= @project.description %>
	</p>
		
</div>
	
	<%= render :partial => 'milestone_view', :locals => {:project => @project} 	%>
	
	<div class="clear"></div>
	
<% end %>


<div class="grey_board">
	
	<div id="controls" class="left">
		<%= render :partial => 'user_list_filter', :locals => {:project => @project} %>
	</div>
	
	<div id="details" class="left">
		<div id="tasks" class="left">
			
			<h2>TASKS</h2>

			<% if current_user.is_admin?  %>			
				<div id="add-new-task">
					<%= link_to '+ Add Task', new_task_path(:project_id => @project.id), :class => 'button', :id=> 'new-task-button', :remote => true  %>
				</div>
			<% end -%>
			
			<%= render :partial => 'task_list', :locals => {:project => @project} %>
			
		</div>
		<div id="metrics" class="right">
			<%= render :partial => 'project_details', :locals => {:project => @project}  %>
			<%= render :partial => 'project_activity', :locals => {:project => @project}  %>
		</div>
	</div>
</div>
