<%=  content_for :top do %>
<div id="show" class="fixed">

	<% if current_user_or_admin?(@user) %>
	<%= link_to "edit", {:action=>:edit, :id=>@user.id},:class=>"button" %>
	<% end -%>
	<div class="avatar left">
		<%= image_tag @user.avatar.url(:small) %>
	</div>

	<div class="details left">
		<div id="fullname">
			<%= @user.name %>
		</div>
		<div id="role" class="<%= "admin" if @user.level == 2 %>">
			<%= @user.title %>
		</div>
		<div id="email">
			<%= @user.email %>
		</div>
		<div id="description">
			<%= @user.description %>
		</div>
	</div>

	<div class="clear"></div>

</div>
<% end -%>


<% @tasks = Task.by_user(@user.id) %>
<ul>
<% @tasks.each do |task| %>
<li><%= task.name %></li>
<% end -%>
</ul>

<%= link_to("Back to list", {:action => 'list'})%>


