<%=  content_for :top do %>
<div id="show" class="fixed">

	<% if current_user_or_admin?(@user) %>
	<%= link_to "edit", {:action=>:edit, :id=>@user.id},:class=>"button" %>
	<% end -%>
	<div class="avatar left">
		<%= image_tag @user.avatar.url(:small) %>
	</div>

	<div class="details left">
		<div id="fullname">
			<%= @user.name %>
		</div>
		<div id="role" class="<%= "admin" if @user.level == 2 %>">
			<%= @user.title %>
		</div>
		<div id="email">
			<%= @user.email %>
		</div>
		<div id="description">
			<%= @user.description %>
		</div>
	</div>

	<div class="clear"></div>

</div>
<% end -%>

<h1>Time Logs</h1>
<div class="">
	<h2>This Week</h2>
	<%=  render :partial => "time_logs/week_view", :locals=>{ :num_weeks_ago => 0} %>		
</div>

<div class="">
	<h2>Last Week</h2>
	<%=  render :partial => "time_logs/week_view", :locals=>{ :num_weeks_ago => 1} %>		
</div>


<h1><%= @user.first_name %>'s Tasks</h1>
<div id="task_list">	
	<% @tasks.keys.sort.each do |project| %>
	<div class="group">
		<h2><%= project.name %></h2>
		<% for task in @tasks[project] %>
		<%= render(:partial => 'tasks/task_list_item', :locals => {:task => task})%>
		<% end %>
	</div>
	<% end -%>
	
</div>




<%= link_to("Back to list", {:action => 'list'})%>

