<!DOCTYPE html>
<html>
	
	<head>
		<title>SquareOne :: <%= @page_title || '' %> </title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body>
		<div class="square_one <%= @page_class %>">
			
			<div id="user_fold">
				<%= render :partial => 'user/bar' %>
			</div>
			
			<div id="top_fold">
				<%= yield :top %>
			</div>
			
			<% if flash %>
				<div id="notify_fold">				
				 <% flash.each do |key, value| %>
				    <div class="<%= flash_class(key) %>">			     
				      <%= value %>
				    </div>
				  <% end %>
				  <%= yield :notify %>
				</div>
			<%end%>
			
			<div id="main_fold">
				<div class="fixed">
					<%= yield %>
				</div>
			</div>
			
			<div class="clear"> </div>

			<div id="footer_fold"></div>
			
		</div>
	</body>
	
</html>
